.label-new {
  @extend %label;
  color: white;
  background-color: green;
}
.label-sale {
  @extend %label;
  color: yellow;
  background-color: red;
}
.label-old {
  @extend %label;
  color: green;
  background-color: #b17777;
  width: 80px;
  height: 80px;
}
