.socials {
  float: right;
  line-height: 50px;
  li {
    display: inline-block;
    margin-left: 20px;
    width: 28px;
    height: 28px;
    background: #6bb039;
    text-align: center;
    border-radius: 50%;
    a {
      line-height: 28px;
      display: block;
    }
    &:first-child {
      margin-left: 0;
    }
    i {
      color: white;
      &:hover {
        color: #173346;
      }
    }
  }
}

