.form-signup {
    width: 100%;
    border: 1px solid map-get($colors, white );
    margin: f-pxRem(20) 0;
    input {
        width: 70%;
        height: f-pxRem(40);
        border: none;
        background-color: map-get($colors, black);
        padding-left: f-pxRem(10);
        input::placeholder {
            color: map-get($colors, white);
        }
    }
    button {
        width: 30%;
        height: f-pxRem(40);
        float: right;
        border: none;
        color: map-get($colors, white );
        background-color: map-get($colors, btn-main);
    }
}
.form-signup-medium {
    width: 85%;
    margin: f-pxRem(20) 0;
    border: 1px solid map-get($colors, white );
    input {
        width: 90%;
        height: f-pxRem(40);
        background-color: map-get($colors, black);
        border: none;
        input::placeholder {
            color: map-get($colors, white);
        }
    }
    button {
        width: 100%;
        height: f-pxRem(40);
        color: map-get($colors, white );
        background-color: map-get($colors, btn-main);
        border-top: 1px solid map-get($colors, white );
    }
}
