.flex {
  display: flex;
}
.is-hide {
  display: none;
}
.txt-center {
  text-align: center;
}
.block {
  display: block;
}
.flex-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
